/* Posts Page CSS */

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    transform: translateY(0); /* Initial position */
}

.card:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.4); /* Medium red shadow */
    transform: translateY(-5px); /* Move the card up by 5px */
}


.card-header {
    background: linear-gradient(to right, #f0f0f0, #cccccc); /* Linear gradient from left to right */
    padding: 0.75rem 1.25rem; /* Adjust padding as needed */
    color: #333333; /* Text color */
}



.card-footer {
    border-top: none; /* Example: Remove top border if not needed */
}

.navbar-custom {
    background: linear-gradient(to right, #FFB88C, #DE6262);
}

#logoutButton {
    margin-left: 10px; /* Example: Add some margin for spacing */
}

.btn-like.active {
    background-color: rgb(245, 12, 12); /* redish background color */
    color: #fff; /* White text color */
    border-color: rgb(245, 12, 12); /* redish border color (if applicable) */
}

.btn-like.active:hover {
    background-color: red; /* Darker red on hover */
    border-color: red /* Darker red border on hover */
}
.list-group-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f79156;;
}

.list-group-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-group-item span {
    font-weight: bold;
}

.friends-heading {
    color: #f79156; /* Text color */
    font-weight: bold; /* Bold text */
    font-size: 1.2rem; /* Font size */
    margin-bottom: 10px; /* Space below the heading */
    margin-left: 20px;
    position: relative; /* Positioning context for the underline */
    
}

.friends-heading::after {
    content: "";
    display: block;
    width: 50%; /* Adjust as needed */
    height: 2px; /* Medium thickness */
    background-color: #FFA500; /* Orange underline color */
    position: absolute;
    bottom: -4px; /* Position just below the text */
    left: 0; /* Align with the left edge of the heading */
}

