.navbar-custom {
    background: linear-gradient(to right, #FFB88C, #DE6262);
}

#logoutButton {
    margin-left: 10px; /* Example: Add some margin for spacing */
}

/* Custom CSS example */
body {
    font-family: 'Arial', sans-serif;
}

.card {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff; /* Customize primary button color */
}

.navbar-brand {
    font-weight: bold;
}

footer {
    margin-top: 20px;
}
